h1{
    font-size: 1.9rem;
}
h2{
    font-size: 1.6rem;
}
h2 span{
    color: crimson;
}
h3{
    font-size: 1.4rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}
/* ------------Navigation styles Section--------------------- */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    /* background-color: rgba(31, 30, 30, 0.24); */
}
#logo{
    height: 100px;
    border-radius: 50px;
    margin-top: 10px;
}
#nav-links ul li{
    display: inline;
}
#nav-links a{
    text-transform: uppercase;
    margin: 0 10px;
    padding: 0 10px;
}
#nav-links a:hover{
    background-color: crimson;
    border-radius: 20px;
    padding: 10px;
}
/* ------------End Navigation styles Section--------------------- */

/* --------------Introduction section styles--------------------- */
.introduction-container{
    position: absolute;
    text-align: center;
    top: 200px;
    z-index: -1;
}
#greetings h1{
    font-size: 3.2rem;
    font-weight: 700;
    color: black;
}
#greetings h2{
    font-size: 2.2rem;
    font-weight: 500;
    color: black;
}
#greetings h1,#greetings h2{
    text-transform: capitalize;
}
/* --------------End Introduction section styles--------------------- */

/* ------------Services Styles Section-------------------------- */
.services-container{
    position: absolute;
    top: 470px;
    display: flex;
    z-index: -1;
}
#service-header{
    margin-top: 50px;
    height: fit-content;
    padding: 10px;
    text-align: center;
}
.services-container div{
    box-shadow: 2px 2px 3px grey;
    padding: 10px;
    margin: 0 20px;
}
.services-container div h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
}
.services-container div p{
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-size: 1.15rem;
}
.projects-container{
    position: absolute;
    top: 850px;
    display: flex;
}
/* ------------End Services Styles Section-------------------------- */

/* ----------------Projects styles Section----------------------- */
.projects-container h2{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    align-items: center;
    height: fit-content;
    width: 100vw;
    position: relative;
    left: 500px;
    margin-left: -70px;
}
.projects-container img{
    height: 200px;
    width: auto;
}
.project-item{
    padding: 10px 0 10px 10px;
    margin: 10px 0 10px 0;
}
.project-item h3{
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 20px;
}
.project-item p{
    padding: 10px;
}
/* ----------------End Projects styles Section----------------------- */

/* ----------------About Styles Section-------------------- */
.about-me-container{
    position: absolute;
    top: 1350px;
}
.about-me-container h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
}
.about-me-container div{
    display: flex;
    align-items: center;
}
.about-me-container img{
    height: 300px;
    width: auto;
    border-radius: 50%;
}
.about-me-container p{
    text-align: center;
}
/* ----------------End About Styles Section-------------------- */

/* -------------------Contact Styles Section---------------------- */
.contact-container{
    position: absolute;
    top: 1800px;
}
#contact-div{
    display: flex;
    justify-content: space-around;
}
.contact-container div h3{
    text-align: center;
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
}
/* -------------------End Contact Styles Section---------------------- */